/* fontstyle */
/* font-family: "Bebas Neue", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    /* overflow-x: hidden; */

}
.head{
   background-color: white;
    padding: 20px;
    cursor: pointer;
    color:rgb(3, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 7px; 
    overflow: hidden;
    width: 100%;
    height: 25px;
    border: 1px solid;
    text-align: center;
} 
.nav{
    background-color: black;
    padding: 3px;
    padding-bottom: 2rem;
}
.nav ul{
    list-style: none;
    display: flex;
}

li{
    text-align: center;
    padding-top: 2rem;
}
.nav ul a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 2px;
    margin: 15px;
    text-align: center;
    padding-top: 2rem;
}
.loc{
    border: 1px ;
    padding: 45px;
    float: right;
    margin-right: 100px;
    margin-top: 1px;
    box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 15px;
}

.text_p{
    margin: auto;
}

.about_txt{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

font{
    font-size: 24px;
}
input[type="text"], input[type="password"], input[type="email"],input[type="contact"],
textarea{
    height: 30px;
    padding: 10px;
    width: 230px;
}
.btn{
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.log{
   display: flex;
}
.logs{
    display: flex;
    float: right;
    text-align: right;
    font-size: 20px;
    color: white;
}
.logs li:hover{
    cursor: pointer;
}
.logs li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    font-size: 15px;
    list-style: none;
    font-weight: 1000;
}
.animated {
    animation: animation 3s;
}
@keyframes animation{
    0%{
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100px);
    }
}
.h1{
    font-size: 120px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
    height: 1900px;
    font-style: oblique;
    color: #FFFFFF;
    padding-top: 40rem;
}

.test{
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 20px;
}

  
#test{
    
    position: absolute;
    top: 28%;
    color: #fffffff4;
    font-size: 30px;
    margin-left: 860px;
}
#animated-background{
    background-image:url(./images/bag-hanging-from-furniture-item-indoors.jpg);
    background-size: cover;
    background-position: center;
    animation: swipe 7s;
}
@keyframes swipe {
    0%{
        background-image: url(/images/close-up-knitted-bag-nature.jpg);
    }
    50%{
        background-image: url(/images/close-up-knitted-bag-still-life.jpg);
    }
    100%{
        background-image: url(/images/blue-knitted-bag-still-life.jpg)
    }
}
#button a{
    appearance: button;
    backface-visibility: hidden;
}

.ft{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.bounce {
    animation: bounce 3s;
    animation-iteration-count: infinite;
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.lt{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    
}




.flip{
    animation-name: flip-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 
@keyframes flip-left{
    0%{
        transform: translateY(-100%);
}
100%{
    transform: translateY(0);
}
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    margin: 0 auto;
    height: 40rem;
    background-color: red;
}
.container a{
    background-color: #220f8f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(rgb(48, 86, 240),rgb(48, 86, 240));
    box-shadow: 0 4px 6px rgba(118, 64, 64, 0.2);
}
.container a:active{
    background-color: #0f718f;
}
.container a:focus{
    outline: none;
    border: 2px solid #0f788f;
}
.container a :hover{
    transform: scale(1.3);
    box-shadow: 0 0 5px;
}
.container p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px 18px;
    font-style: oblique;
    font-weight: 100;
    font-variant: small-caps;
}
#gallery img{
    padding: 10px;
    margin: 15px;
    width: 250px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.966) 0px 2px 1px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
#gallery{
    border: 1px solid #0e0e0e;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 550px;
    background-color: rgb(5, 4, 4);
    box-shadow: rgb(38, 57, 77,)0px 20px 30px -10px;
}
#gallery img:hover{
    border-color: #aaa;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#gallery img:active{
    border-color: #999;
}
.testX{
    text-align: center;
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
}
.img-circled{
    border: none;
    border-radius: 360px;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-top: 20px;
}
.dt{
    display: flex;
    margin: auto;
    place-content: center;
}
.dt2{
    margin-top: 90px;
    padding: 0;
}
.img1 header{
    text-align: center;
}
.imgY{
    object-fit: cover;
}

.gallery_text{
   font-family: "Bebas Neue", sans-serif;
   color: #FFFFFF;
   font-size: 65px;
   text-wrap: wrap;
   flex-wrap: wrap;
}

.my-gallery{
    text-align: center;
}
.img1{
    background-color: black;
}
.img1 img{
    margin: 10px;
    padding: 0;
    width: 450px;
    height: 300px;
    transition: transform 0.8s ease;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    object-fit: cover;
}
.img1 img:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.details{
    display: flex;
    flex-direction: row;
    margin-left: 500px;

}
.details h2{
    font-size: 40px;
    font-weight: 10;
    margin: 40px; 
}
.details p{
    margin: 40px;
}
.abt{
    margin-bottom: 40px;
    padding: 30px;
    background-color: black;
    display: flex;
    place-content: center;
}
.abt h1{
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.abt p{
    font-weight: bolder;
    padding: 40px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 9px 17px;
    color: white;
    font-size: 20px;
    margin-top: 350px;
    margin-left: 20px;
    place-content: center;
}
.abt-container img{
    width: 950px;
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.658) 1px 25px 30px;
}

.box{
    display: flex;
    place-content: center;
    padding: 60px;
    margin: 20px;
}
.review{
    background-color: black;
}
.review h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
.review img{
    display: flex;
    place-content: center;
    border: 1px solid;
    border-radius: 90px 90px 90px;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
.rev-box1{
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 15px 28px;
    width: 400px;
    margin: 20px;
    padding: 40px;
}
.box p{
    color: white;
    font-size: 15px
}
.box img{
    margin-left: 130px;
}
.box2{
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 15px 28px;
    width: 400px;
    margin: 20px;
    padding: 40px;
}
.box3{
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 15px 28px;
    width: 400px;
    margin: 20px;
    padding: 40px;
}
footer{
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    padding: 17px;
}
.foot{
    margin-left: 350px;
}
.foot img{
    place-content: center;
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.foot img:hover{
    cursor: pointer;
}
.container{
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 767px){
    .container{
        width: 100%;
    }  
}


@media screen and (max-width:720px){
    .ul_nav li{
        display: none;
    }

    nav{
        padding-bottom: 3rem;
    }

    .log{
        margin-top: -1rem;
        margin-left: 9rem;
    }

    .h1_media{
        font-size: 90px;
        color: rgb(255, 255, 255);
        margin-top: -29rem;
    }

    .bg_img{
       height: 20rem;
    }

   

    .bg_1{
        margin-bottom: 40rem;
    }

    footer{
        display: grid;
        text-align: center;
        margin: auto;
        margin-left: -39rem;
    }

    .foot_text{
        text-align: center;
        font-size: 13px;
        margin-left: 17rem;
    }


    .icons{
        margin: auto;
        display: flex;
        place-content: center;
        margin-left: 17rem;
    }

    .review_box{
        display: grid;
        place-content: center;
    }

    .lt{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: "Bebas Neue", sans-serif;
        font-size: 50px;
        margin-top: 40rem;
    }
 

    .imga{
        object-fit: cover;
    }

    .my-gallery{
        display: grid;
        place-content: center;
        width: 4rem;
        margin-left: 6rem;
    }

    
    #gallery{
        border: 1px solid #0e0e0e;
        padding: 50px;
        box-sizing: border-box;
        width: 100%;
        padding-bottom: 70rem;
        background-color: rgb(5, 4, 4);
        box-shadow: rgb(38, 57, 77,)0px 20px 30px -10px;
    }
    #gallery img:hover{
        border-color: #aaa;
        cursor: pointer;
        transform: scale(1.09);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    

    .test{
        display: grid;
        margin-top: 40px;
    }

    .img1{
        margin-top: -30rem;
    }

    .review{
        display: grid;
        place-content: center;
    }

    .review_box{
        display: grid;
        place-content: center;
    }


    .limt{
        margin-top: -35rem;
    }

    .dt{
        display: grid;
    }
    
    .dt2{
        margin-top: -1px;
    }
    
     .img-circled{
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    
.box{
    display: grid;
    place-content: center;
    padding: 60px;
    margin: 20px;
}

.review img{
    display: flex;
    place-content: center;
    border: 1px solid;
    border-radius: 90px 90px 90px;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}


.abt{
    display: grid;
  
    padding: 30px;
    background-color: black;
    display: flex;
    place-content: center;
}
.abt h1{
    display: grid;
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.abt p{
    font-weight: bolder;
    padding: 40px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 9px 17px;
    color: white;
    font-size: 20px;
    margin-top: 350px;
    margin-left: 20px;
    place-content: center;
}
.abt-container img{
    width: 333px;
    height: 350px;
    margin-left: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.658) 1px 25px 30px;
}

.about_txt{
    margin: auto;
    text-align: center;
    margin-left: 4rem;
    padding-bottom: 64rem;
}

.about_Y{
    position: absolute;
}

.imgh{
    width: 20px;
     margin-top: -75rem;
     left: 40%;
    }

.details{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-column-gap:0px;
    margin-top: 3rem;
    margin-left: 5.5rem;
}



.loc{
    margin-right: 1.4rem;
}


.info{
    font-size: 33rem;
}


}